@font-face {
  font-family: digital;
  src: url("./font/digital.ttf");
}

* {
  box-sizing: border-box;
}

body,
html {
  font-family: digital;
  font-size: 1em;
  font-weight: bold;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: black;
  touch-action: manipulation;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: white;
}

#wrapper {
  height: 100%;
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
  position: relative;
}

canvas {
  position: absolute;
  background: none;
}

#info {
  width: 100%;
  height: 3em;
  border: 1px solid blue;
  padding: 1em;
  text-align: center;
}

#p1,
#ai,
#p2 {
  width: 25%;
  height: 3em;
  padding: 1em;
  border: 1px solid blue;
  text-align: center;
}
.box {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 15vh;
  display: flex;
  padding: 2em;
  align-items: center;
}
