@font-face {
  font-family: digital;
  src: url("../font/digital.ttf");
}
body,
html {
  font-size: 16px;
  touch-action: manipulation;
  overflow: hidden;
  font-family: digital;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: radial-gradient(#000 15%, transparent 16%) 0 0,
    radial-gradient(#000 15%, transparent 16%) 8px 8px,
    radial-gradient(hsla(0, 0%, 100%, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(hsla(0, 0%, 100%, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  position: relative;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
}

.app {
  height: 100vh;
}

#background {
  background: black;
  z-index: 8;
}

#target {
  background: none;
  z-index: 9;
}

#overlay {
  background: none;
  z-index: 10;
}

#sprite {
  background: none;
  z-index: 11;
}

#impact {
  background: none;
  z-index: 12;
}
.debug {
  word-wrap: anywhere;
  width: 100%;
  overflow: auto;
}

.box {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  height: 100%;
  background: grey;
  margin: auto;
}

#bar {
  width: 100%;
  padding: 1em;
  margin: auto;
  box-sizing: border-box;
}

.bar-bar {
  background: #341515;
}

#scorebox {
  font-size: 0.75em;
  text-align: center;
  font-weight: bold;
  padding: 2px;
  background: #000000c9;
  color: white;
  display: flex;
  justify-content: space-around;
}

.scorebox-item {
  background: black;
  padding: 4px;
}

#score {
  padding: 2px;
  align-self: center;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.bar-fill {
  width: 0%;
  height: 0.75em;
  background: rgb(115, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(115, 0, 0, 1) 4%,
    rgba(255, 105, 105, 1) 14%,
    rgba(157, 6, 0, 1) 29%,
    rgba(87, 4, 0, 1) 76%
  );
}

#bottom-bar {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1200;
  margin: auto;
  width: 100%;
}

button {
  margin: 1em;
  padding: 1em;
  background: #36443d;
  color: white;
  outline: none;
  border: none;
  font-size: 0.75em;
  text-transform: uppercase;
}

.overlay {
  padding: 2em;
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: black;
  z-index: 1000;
  color: white;
  display: flex;
}

.overlay-content {
  align-self: center;
  width: 100%;
  line-height: 1.5em;
}

/* @media screen and (max-width: 767px) {
    _::-webkit-full-page-media,
    _:future,
    :root .safari_only {
      padding-bottom: 65px;
      height: 100%;
    }
  } */
