@font-face {
  font-family: digital;
  src: url("./font/digital.ttf");
}

* {
  box-sizing: border-box;
}

body,
html {
  font-family: digital;
  font-size: 1em;
  font-weight: bold;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: white;
  background: grey;
  touch-action: manipulation;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: black;
}

#header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 3em;
  padding: 0.5em;
  background: #1515164f;
  z-index: 10;
}

#start,
.header-item {
  position: relative;
  text-align: center;
  height: 100%;
  min-width: 3em;
  padding: 0.2em;
  border: 0.2em solid white;
  background: #341515;
  color: limegreen;
  display: inline-grid;
}

#start {
  text-align: center;
  align-content: center;
  /* font-size: 0.75; */
  line-height: 100%;
  padding: 1em;
  border: none;
}

.header-item-label {
  font-size: 50%;
}

#progress {
  height: 100%;
  width: 40%;
  padding: 0.2em;
  border: 0.2em solid white;
  background: #341515;
}

#ammo-content,
#level-content {
  font-weight: bold;
  height: 100%;
  font-size: 0.75em;
}

.debug {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#debug-content {
  display: flex;
  padding: 1em;
  text-align: center;
  background: #341f1f00;
  color: #161816;
  font-size: 1em;
  z-index: 9;
}

#progress-current {
  height: 100%;
  width: 100%;
  background: rgb(115, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(115, 0, 0, 1) 4%,
    rgba(255, 105, 105, 1) 14%,
    rgba(157, 6, 0, 1) 29%,
    rgba(87, 4, 0, 1) 76%
  );
}

#wrapper {
  height: 100%;
  width: calc(100vh / 2);
  max-width: 100vw;
  margin: 0 auto;
  position: relative;
}

canvas {
  position: absolute;
  background: none;
}
