:root {
    --global-font-size: 15px;
    --global-line-height: unset;
    --global-space: 10px;
    --font-stack: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
    --mono-font-stack: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
    --background-color: #DCDCE3;
    --page-width: 60em;
    --font-color: #0C1212;
    --invert-font-color: #DCDCE3;
    --primary-color: #4D7A80;
    --secondary-color: #85C7BD;
    --error-color: #BA255F;
    --progress-bar-background: #BA255F;
    --progress-bar-fill: #85C7BD;
    --code-bg-color: #0C1212;
    --input-style: solid;
    --display-h1-decoration: none;
}

@media only screen and (max-width: 850px) {
  .site-name {
    width: unset !important;
    overflow: revert;
  }
}

@media only screen and (max-width: 850px) {
  .posts-list .date {
    padding-right: 16px;
    width: unset;
    display: block; 
    right: 0;
    left: unset;
  }
}

.image-grid {
  a {
    width: fit-content;
  }
  img {
    width: unset;
  }
}

pre {
  border: 1px solid var(--error-color);
}

.terminal code {
  background: black;
  color: var(--primary-color);
  overflow: auto;
  padding: 16px;
}

.post {
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 16px;
  background: var(--background-color);
}

a {
  color: var(--error-color);
}

.terminal-menu li a:not(.btn) {
  color: var(--primary-color);
  font-weight: bold;
}
