:root {
  --black-0-hex: #0c0d0b;
  --black-1-hex: #262622;
  --tan-0-hex: #f2c3a7;
  --tan-1-hex: #d99379;
  --tan-2-hex: #a66151;

  --background-0: var(--black-1-hex);
  --background-1: var(--black-0-hex);
  --background-2: var(--tan-2-hex);

  --foreground-0: var(--tan-1-hex);
  --foreground-1: var(--tan-0-hex);
  --foreground-2: var(--black-0-hex);

  --text: var(--tan-0-hex);

  --green: #b5c588;
  touch-action: pan-x pan-y;
  height: 100%;

  --black-0-hex: #117895;
  --black-1-hex: #0c2634;
  --tan-0-hex: #f1f3f4;
  --tan-1-hex: #eed369;
  --tan-2-hex: #083045;
  --background-0: var(--black-1-hex);
  --background-1: var(--black-0-hex);
  --background-2: var(--tan-2-hex);
  --foreground-0: var(--tan-1-hex);
  --foreground-1: var(--tan-0-hex);
  --foreground-2: var(--black-0-hex);
  --text: var(--tan-0-hex);
}

* {
  box-sizing: border-box;
}

body,
html {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;

  background: var(--background-0);
  color: var(--foreground-0);
}

body {
  overflow-y: scroll;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

pre {
  text-align: left;
}

button {
  /*  color: var(--foreground-1);
  font-weight: bold;
  background: var(--background-1);
  border: 2px solid var(--background-1);
  margin: 0 4px 4px 0;
  border-radius: 4px; */

  color: var(--tan-2-hex);
  font-weight: bold;
  background: #b5c588;
  border: 2px solid #b5c588;
  margin: 0 4px 4px 0;
  border-radius: 4px;
}

button:hover {
  background: var(--background-1);
  border: 2px solid #eed369;
  color: var(--foreground-1);
}

#app {
  max-width: 900px;
  width: 100%;
  margin: auto;
}

.wrapper {
  height: 100%;
  margin-top: 98px;
}

.app_header_wrapper {
  z-index: 1000;
  position: fixed;
  max-width: 900px;
  width: 100%;
  top: 0;
  background: var(--background-1);
  color: var(--foreground-1);
}

.app_header {
  height: 42px;
  line-height: 42px;
  padding: 6px;
  top: 0;
  background: var(--background-1);
  color: var(--foreground-1);
}

.data,
.results {
  text-align: left;
  padding: 2em 1em 72px;
  box-sizing: border-box;
  background: var(--foreground-1);
}

.verse,
.result {
  background: var(--foreground-1);
  color: var(--background-2);
  padding: 0 1em 1em;
  font-weight: normal;
}

.verse-wrapper {
  display: inline-grid;
  grid-template-columns: 25px;
  grid-template-areas: "verse verse-text";
}

.verse-number,
.verse-number a {
  color: var(--background-1);
  grid-area: verse;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
}

.verse-text {
  padding-left: 6px;
  font-weight: normal;
  grid-area: verse-text;
}

.verse-text a,
.verse-text a:visited {
  text-decoration: none;
  color: var(--background-0);
}

.verse-text a:hover {
  background: var(--foreground-0);
  color: var(--background-2);
}

.result-wrapper {
}

.result-text {
  padding-left: 6px;
  font-weight: bold;
}

.result-details {
  background: var(--background-2);
  color: var(--foreground-1);
  padding: 4px 6px;
  text-align: right;
  border-radius: 4px;
}

.result-details a {
  color: var(--foreground-0);
}

.verse-details {
}

.book_header {
  display: flex;
  width: 100%;
  background: var(--background-2);
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--background-0);
}

.content_header {
  padding-top: 16px;
}

.chapter_header {
  padding-bottom: 16px;
}

.content_header,
.chapter_header {
  background: var(--green);
  color: var(--background-0);
}

.footer {
  text-align: center;
  position: fixed;
  width: 100%;
  max-width: 900px;
  margin: 16px auto;
  bottom: 0;
}

.chapter_pager {
  display: flex;
  justify-content: space-between;
  background: none;
  border: none;
  padding: 6px;
  color: black;
  align-items: center;
}

.prev_btn {
  background: none;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 18px solid #1178956e;
}

.next_btn {
  background: none;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 18px solid #1178956e;
}

.prev_btn:hover {
  border-right: 18px solid #117895;
}

.next_btn:hover {
  border-left: 18px solid #117895;
}

.book_btn,
.random_btn,
.chapter_btn {
  margin: 0;
  background: var(--background-2);
  color: var(--foreground-1);
  padding: 6px;
  border: 2px solid var(--background-2);
}

.chapter_btn {
  margin-left: 8px;
}

.books,
.chapters {
  width: 100%;
  text-align: left;
  background: var(--background-1);
  border-radius: 0 0 6px 6px;
  z-index: -3;
  box-shadow: 0px 2px 1px var(--tan-2-hex);
}

.search {
  text-align: right;
  box-sizing: border-box;
}

.version {
  margin-left: 8px;
}

.version_select {
  display: flex;
  padding: 8px;
  align-items: center;
  text-align: right;
  box-sizing: border-box;
  padding: 8px 16px;
  background: var(--background-1);
  justify-content: space-between;
  z-index: -2;
  position: absolute;
  width: 100%;
  box-shadow: 0px 2px 2px 0px var(--background-0);
}

.search input,
select {
  color: var(--foreground-2);
  height: 100%;
  padding: 6px;
  background: var(--foreground-1);
  border: 1px solid var(--foreground-1);
  box-sizing: border-box;
  border-radius: 4px;
}

select {
}

.details {
  text-align: right;
}

@media only screen and (max-width: 640px) {
}

.logo {
  height: 34px;
  box-sizing: border-box;
}

.splash {
  box-sizing: border-box;
}

.loading {
  position: relative;
  padding-top: 20%;
  opacity: 0.8;
  color: white;
  height: 100%;
  width: 100%;
}

.content {
  background: var(--foreground-1);
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="password"] {
}

.fadein,
.fadeout {
  position: absolute;
  top: -3000px;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.6s ease-in-out;
}

.fadein {
  padding: 16px;
  top: 98px;
}

.ot_books,
.nt_books {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 767px) {
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="tel"],
  input[type="password"] {
  }

  .fadein {
    height: 100%;
    position: fixed;
    overflow: scroll;
    padding-bottom: 100px;
  }

  .ot_books,
  .nt_books {
    display: grid;
    grid-template-columns: 1fr;
  }

  .verse {
    margin: 0px;
  }

  .book_header {
    justify-items: center;
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-button {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #aaaaaa;
  background: transparent;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
}
