{{- $fullPath := .Get 0 -}}
<iframe src="{{$fullPath}}" class="objectdata-localvue">
  Warning: file {{$fullPath}} could not be included.
</iframe>
<style>

iframe {
  width: 100%;
  height: 100vh;
}
</style>
