{{/* vueobject.html */}} {{- $appPath := .Get 0 -}}
<object data="{{$appPath}}" class="objectdata-localvue">
  Warning: file {{$appPath}} could not be included.
</object>

{{- if .Page.Params.height }}
<style>
  object {
    width: 100%;
    height: {{- .Page.Params.height }};
  }
</style>
{{- else }}
<style>
  object {
    width: 100%;
    height: 100vh;
  }
</style>
{{- end }}
